@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    height: 100vh;
}

/**
color de fondo
*/

header{
    
    display: flex;
    justify-content:space-between ;
    background-color: white;
    align-self: 10px;
}



/** 
font-family: 'Dancing Script', cursive;
*/

.fuente-titulo{
    font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-size: 2.5rem;
font-weight: bolder;
   
}


.fuente-opciones{

    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    gap: 1rem;
    }
    
    /**
    se reiteran colores en el main
    */
    
    
    .hoteles-color{
        color: black;
    
    }
    
    .viviendas-color{
        color: black;
    
    }
    
    .urbanizaciones-color{
        color:black;
    
    }
    
    .volver-color{
        color: red;
    }

    .class-items{
        list-style: none;
        display: flex;
    }

    .class-data{
        list-style: none;
        display: flex;
        font-size: 2.5rem;
        gap: 1rem;
    }

/**
colores distintivos
*/
.Acerca-de-color{
    color: black;


}

.Proyecto-color{
    color: black;
}

.galeria-color{
    color: black;

}
.contacto-color{
    color: red;

}
.class-data{
    list-style: none
}


/**
misma fuente en la section
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald&display=swap');

/**
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
*/

.section-principal{
   
   background-image: url(../assets/proyecto.jpg);
   width:100%;
   background-position:100%;
   background-repeat: no-repeat;
   background-image: none;
   background-size: cover;
   
   }
    
.contenedor{
    height: auto;
    width: 100%;
    position: absolute;
    background-color:white;
    display: flex;
    justify-content: space-between;
    
}
.titulo-principal{
        color: black;
        
       
       
 }

 .text{
    color: black;
    margin-top: 10%;
    
 }

.tarjeta-verano{
    
    border: 2px solid black;
    height: 275px;
    width: 225px;
    margin:50px 10px ;
    box-shadow: 5px 5px 5px 5px black;
    align-content: center;
    overflow: hidden;
    background:white
    
    
}



.card-image{
    height:175px ;
    width: 225px;
    object-fit: cover;
   
}


.tarjeta-soñar{
    border: 2px solid black;
    height: 275px;
    width:  225px;
    margin: 50px 10px;
    box-shadow: 5px 5px 5px 5px black;
    align-content: center;
    overflow: hidden;
    background:white
   
    
    
}

.card-image1{
    height: 175px;
    width:225px ;
    object-fit: cover;
}

.titulo-card2{
    color: black;
}

.text-soñar{
    color: black;
    margin-top: 10px;
}

.tarjeta-realidad{
    border: 2px solid black;
    height: 275px;
    width:  225px;
    margin: 50px 10px;
    box-shadow: 5px 5px 5px 5px black;
    align-content: center;
    overflow: hidden;
    background:white
}
.card-image2{
    height: 175px;
    width:225px ;
    object-fit: cover;
}

.titulo-card3{
    color: black;
}

.text-realidad{
    color: black;
    margin-top: 10px;
}